body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    color: #333;
    background-color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    border: 5px dotted black;
    display: flex;
    width: 90%;
    
    height: 80vh;

}

.form-container {
    border: 5px dotted green;
}

.brand-container {
    border: 5px dotted yellow;
}